name: Dependency Submission

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Component Detection
        uses: advanced-security/component-detection-dependency-submission-action@v0.1.0
        with:
          directoryExclusionList: 'samples/**/*, tests/**/*'